
.boards {
  width: 100%;
  padding: 2px 0;
  background-color: $offwhite;
  margin: 54px auto;
  border-bottom: 3px solid  $transparentgray;
  background-clip: padding-box;
  img {
    width: 9.43%;
    padding: 13px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

    &:hover {
      -webkit-transform:scale(1.2);
      -moz-transform:scale(1.2);
      -ms-transform:scale(1.2);
      -o-transform:scale(1.2);
       transform:scale(1.2);
    }
    &.biggerimg:hover {
    -webkit-transform:scale(1.17);
    -moz-transform:scale(1.17);
    -ms-transform:scale(1.17);
    -o-transform:scale(1.17);
     transform:scale(1.17);
    }
  }
}
