

.contact {
  width: 100%;
  background-color:  $offwhite;
  margin-bottom: 50px;
  border-bottom: 3px solid  $transparentgray;
  background-clip: padding-box;
}

.left-col {
  display: inline-block;
  width:51%;
  vertical-align: top;
  padding: 4%;
  h6 {
    font-weight: 400;
    font-size: 1rem;
    margin: 0 auto;
  }
  p {
    font-size: .6rem;
    margin: 0 auto;
    line-height: 2;
  }
  ul {
    padding-left:0px;
  }
  li {
    display: inline-block;
    img {
      width: 20px;
      height: 20px;
    }
  }
}

.right-col {
  display: inline-block;
  padding: 4%;
  width: 48.38%;
  vertical-align: top;
  text-align: right;
}

input {
  width: 100%;
  font-size: .7em;
  padding: 3%;
  margin-top: 5px;
}

textarea {
  @extend input;
  border: 1px solid gainsboro;
}

input[type="submit"] {
  width: 50%;
  color:  $offwhite;
  background-color: $weirdred;
  border: none;

}
