
#contact {
  margin-right:0;
}


.contact {
  width: 100%;
  background-color: #fcfcfc;
  margin-bottom: 50px;
  border-bottom: 3px solid rgba(144, 144, 142, 0.5);
  background-clip: padding-box;
}

.left-col {
  display: inline-block;
  width:51%;
  vertical-align: top;
  padding: 4%;
}

.left-col h6 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0 auto;
}

.left-col p {
  font-size: .6rem;
  /*padding: 4%;*/
  margin: 0 auto;
  line-height: 2;
}

.left-col ul {
  padding-left:0px;
}
.left-col li {
  display: inline-block;
}

.left-col li img {
  width: 20px;
  height: 20px;


}
.right-col {
  display: inline-block;
  padding: 4%;
  width: 32.3%;
  vertical-align: top;
  text-align: right;
}

input {
  width: 92%;
  font-size: .7em;
  padding: 3%;
  margin-top: 5px;
}

textarea {
  width: 92.75%;
  font-size: .7em;
  padding: 3%;
  border: 1px solid gainsboro;
  margin-top: 5px;
}

input[type="submit"] {
  width: 50%;
  color: #fcfcfc;
  background-color: #B4292E;
  border: none;

}
