.header-top {
  text-align:right;
  .social-icons {
    margin: 1% 0 0 0;
    display: inline-block;
    vertical-align: middle;
   li {
    display:inline-block;
    vertical-align: middle;
      img {
        width: 40px;
        height: 40px;
        border-bottom: 3px solid rgba(144, 144, 142, 0.5);
        background-clip: padding-box;
      }
    }
    #subscribe {
      font-size: 0.6rem;
    }
    #dot {
      font-size: 1.5rem;
      vertical-align: top;
      padding-top: 0.1rem;
      padding-right: 5rem;
      padding-left: .5em;
      color: #fcfcfc;
      font-family: Serif;
    }

    #five-dots {
      transform: rotate(-90deg);
      font-size: 1.5rem;
      color: #fcfcfc;
      font-family: Serif;
      padding-left: 9px;
      margin-right: -9px;

    }
  }
}


nav {
  width: 100%;
  margin: 1% 0 2% 0;
  ul {
    padding:0;
    margin:auto;
    li {
      display: inline-block;
      background-color: #B4292E;
      width: 23.4%;
      text-align: center;
      font-weight: 100;
      font-size: .65rem;
      margin: 0 .1rem;
      border-bottom: 3px solid rgba(144, 144, 142, 0.5);
      background-clip: padding-box;
      padding: .2em;
    }

    .dash {
      font-weight: 400;
      font-size: 1rem;
    }
  }
}
