

.box {
  display: inline-block;
  background-color: $offwhite;
  width: 31.85%;
  vertical-align: top;
  margin-top:5%;
  min-height:240px;
  border-bottom: 3px solid rgba(144, 144, 142, 0.5);
  background-clip: padding-box;
  h2 {
    margin: 7%;
    font-weight: 400;
    font-size: 1rem;
    min-height:55px;;
  }
  p {
    margin:7%;
    font-size: .5rem;
    height: 86px;
  }
  a {
    margin: auto;
    color:  $weirdred;
  }

}


#middle-box {
  margin: 5% 1.5%;
}

.date {
  font-size: .5rem;
  color: lightgray;
  margin-left:7%;
}

.read-more {
  text-align: center;
  padding: 11px;
}
