@media (min-width: 0px) and (max-width: 766px) {

  * {
    font-family: sans-serif;
   }


  body {
    background-size: cover;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
          url("../images/bg.jpg");

  }
  a {
    text-decoration: none;
    color:  $offwhite;
  }
  .container {
    width: 100%;
    margin:auto;
  }
// ***********HEADER START**************
  .header-top {
    display: none;
  }

  nav {
    width: 100%;
    margin: 1% 0 2% 0;
    float: left;
    ul {
      padding:0;
      margin:auto;
      li {
        display: inline-block;
        background-color:  $weirdred;
        width: 100%;
        text-align: center;
        font-weight: 100;
        font-size: 1.5rem;
        margin: 0 .1rem;
        border-bottom: 3px solid  $transparentgray;
        background-clip: padding-box;
        padding: .2em 0;
      }

      .dash {
        font-weight: 400;
        font-size: 1rem;
      }
    }
  }
// ***************** HEADER STOP ******************


// ******************* SLIDER START*******************

.hero {
  width: 96.5%;
  max-height: 217px;
  display: block;
  border: 8px solid white;
  overflow: hidden;
}

// ******************** SLIDER END *********************

// **************** NEWS-WRAPPER START **********************
.news-wrapper {
  width:100%;
  text-align:center;
}
  .box {
  text-align: left;
  display: inline-block;
  background-color: $offwhite;
  width: 75%;
  vertical-align: top;
  margin-top:5% ;
  min-height:240px;
  border-bottom: 3px solid  $transparentgray;
  background-clip: padding-box;
  h2 {
    font-size: 1.5rem;
  }
  .date, p {
    font-size: .75rem;
  }
}

// *************** NEWS-WRAPPER END ****************

// *******************SKATEBOARDERS START ****************

.skateboarders {
  width: 75%;
  margin: 0 auto;
  .col-1, .col-2 {
    width: 100%;
    display: inline-block;
  }

  .col-2 {
    margin-top: 120px;
  }
  .lance, .steve, .tommy, .rodney {
    width: 99%;
    height: 219px;
    display: inline-block;
    margin: 5% 0;
    background-size: cover;
    background-position-x: 0px;
    background-position-y: 0px;
  }
  #arrow-text, .arrow-block, .arrowborder, .arrow {
    display: none;
    padding-top: 0;
  }
  span {
    padding-top: 20%;
  }
}

// ******************* END SKATEBOARDERS *******************

// ******************** START BOARDS ********************

.boards {
  margin: 23px auto;
  width: 75%;
  img {
    width: 14.5%;
  }
}

// ********************* END BOARDS ***********************

.contact {
  width: 75%;
  margin: auto;
  .left-col {
    width:92%;
  }
  .right-col {
    display: inline-block;
    padding: 8%;
    width: 83%;
    vertical-align: top;
    text-align: right;
  }
}







}
