.skateboarders {
width:100%;
position: relative;
span {
  display: block;
  text-align: center;
  color:  $offwhite;
  font-family: arial-black;
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1;
  }
}


.arrow-block {
    position: absolute;
    width: 160px;
    height: 63px;
    background-color:  $weirdred;
    left: -32%;
    top: 15.5%;
    border-bottom: 3px solid  $transparentgray;
    background-clip: padding-box;
  }


.arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid  $weirdred;
    left: -9.5%;
    z-index: -1;
    top: 15.5%;

  }
.arrow-border {
  @extend .arrow;
  border-left: 30px solid  $transparentgray;
  left: -9.5%;
  z-index: -2;
  top: 15.99%;
  }

#arrow-text {
    position: absolute;
    color:  $offwhite;
    font-weight: normal;
    left: -30.5%;
    font-size: 1rem;
    top: 23%;
  }


.col-1, .col-2{
  display: inline-block;
}

.col-1 {
  width: 66%;
  height:300px;
}


.lance {
  display: inline-block;
  background-image: url(../images/sk8er-4.png);
  background-size: 146%;
  width: 48.36%;
  height: 50%;
  background-repeat: no-repeat;
  background-position-x: -95px;
  background-position-y: -11px;
  border: 3px solid  $offwhite;
  box-shadow: 0px 3px  $transparentgray;
  span {
    padding-top: 20%;
  }
}

.rodney {
  @extend .lance;
  background-image: url(../images/sk8er-3.png);
  background-position-x: -10px;
  background-position-y: -11px;
  margin-left: 11px;
}

.steve {
  @extend .lance;
  margin-top: 17px;
  background-image: url(../images/sk8er-1.png);
  background-size: 103%;
  width: 100%;
  background-position-x: 0px;
  background-position-y: -63px;
  span {
    padding-top: 13%;
  }
}

.col-2 {
  width: 33%;
  height: 300px;
  vertical-align: top;
}

.tommy {
  @extend .lance;
  background-image: url(../images/sk8er-2.png);
  background-size: 272%;
  width: 95.5%;
  height: 105.7%;
  background-position-x: -296px;
  background-position-y: 0px;
  margin-left: 11px;
  span {
    padding-top:57%;
  }
}
