
.col-1, .col-2{
  display: inline-block;
}

.col-1 {
  width: 66%;
  height:300px;
}


.lance {
  display: inline-block;
  position:relative;
  background-image: url(../images/sk8er-4.png);
  background-size: 146%;
  width: 46.75%;
  height: 50%;
  background-repeat: no-repeat;
  background-position-x: -95px;
  background-position-y: -11px;
  border: 3px solid #fcfcfc;
  box-shadow: 0px 3px rgba(144, 144, 142, 0.5);

}

.rodney {
  display: inline-block;
  background-image: url(../images/sk8er-3.png);
  background-size: 146%;
  width: 46.75%;
  height: 50%;
  background-repeat: no-repeat;
  background-position-x: -10px;
  background-position-y: -11px;
  border: 3px solid #fcfcfc;
  margin-left: 11px;
  box-shadow: 0px 3px rgba(144, 144, 142, 0.5);
}

.steve {
  display: inline-block;
  margin-top: 11px;
  background-image: url(../images/sk8er-1.png);
  background-size: 103%;
  width: 98.25%;
  height: 50%;
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: -63px;
  border: 3px solid #fcfcfc;
  box-shadow: 0px 3px rgba(144, 144, 142, 0.5);
}

.col-2 {
  width: 30%;
  height: 300px;
  vertical-align: top;
}

.tommy {
  display: inline-block;
  background-image: url(../images/sk8er-2.png);
  background-size: 272%;
  width: 104.5%;
  height: 105.7%;
  background-repeat: no-repeat;
  background-position-x: -296px;
  background-position-y: 0px;
  margin-left: 8px;
  border: 3px solid #fcfcfc;
  box-shadow: 0px 3px rgba(144, 144, 142, 0.5);
}

.skateboarders span {
  display: block;
  text-align: center;
  color: #fcfcfc;
  font-family: arial-black;
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1;
}

.lance span, .rodney span {
  padding-top: 20%;
}

.steve span {

  padding-top: 13%;
}

.tommy span {
  padding-top:57%;
}
