.slider {
position:relative;
overflow: hidden;
border-bottom: 3px solid rgba(144, 144, 142, 0.5);
background-clip: padding-box;
max-height:250px;
width: 100%;
}
#overlay-logo {
  height:100%;
  width: 30%;
  img {
    position: absolute;
    width: 42%;
    top: 19%;
    left: 3%;
  }
}

#overlay-grid {
  position: absolute;
  width: 100%;
  img {
    width:100%;
    opacity: .4;
  }
}

.hero {
  width: 100%;
  max-height: 247px;
  display:block;
  border: 8px solid white;
  overflow: hidden;
  img {
    width: 25%;
    float: left;
    position: relative;
    z-index: -1;
  }
}

figure {
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  text-align: left;
  animation: 10s slide infinite;
  min-height:234px;
}



@keyframes slide {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
}
