* {
  font-family: sans-serif;
  box-sizing: border-box; }

body {
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/bg.jpg"); }

a {
  text-decoration: none;
  color: #fcfcfc; }

.container {
  width: 712px;
  margin: auto; }
@import 'variables';
@import 'header';
@import 'slider';
@import 'news-wrapper';
@import 'skateboarders';
@import 'boards';
@import 'contact';
@import 'responsive';
